* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.complete {
  text-decoration: line-through;
}

input {
  border: 0;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
input:focus {
  outline: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.btn {
  margin: 0 3px;
  padding: 4px 6px;
  width: 50px;
  height: 36px;
  background: #03a9f4;
  color: white;
  border: none;
  outline: none;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.btn:active {
  background: #0179f1;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 1fr;
  grid-template-areas: "header header header";
  grid-column-gap: 10px;
  text-align: center;
}

.textbox {
  grid-area: header;
  align-self: center;
}
.field {
  min-height: 80vh;
}
.Todo.field,
.Done.field {
  background: aliceblue;
}
.Doing.field {
  background: lightsteelblue;
}

.item {
  display: inline-block;
  width: 180px;
  height: 130px;
  margin: 8px;
  padding: 10px 12px;
  text-align: left;
  font-size: 1.2em;
  background: #fc0;
}
