body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.complete {
  text-decoration: line-through;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 1fr;
  grid-template-areas: "header header header";
  grid-column-gap: 10px;
  text-align: center;
}

.textbox {
  grid-area: header;
  align-self: center;
}
.field {
}

.item {
  display: inline-block;
}
